@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #333;
}
  .main h2{
		text-align: center;
		font-style: italic;
		font-size: 38px;
	    font-family: 'Rubik Beastly', cursive;
	}
	.main p{
		font-weight: bold;
		font-variant: small-caps;
		font-family: 'Poppins', sans-serif;
	}

/*
font-family: 'open_sansregular';
font-family: 'open_sansbold';
font-family: 'open_sansbold_italic';
font-family: 'open_sansextrabold';
font-family: 'open_sansextrabold_italic';
font-family: 'open_sansitalic';
font-family: 'open_sanslight';
font-family: 'open_sanslight_italic';
font-family: 'open_sanssemibold';
font-family: 'open_sanssemibold_italic';
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Beastly', cursive;
*/