@charset "UTF-8";

/* 
font-family: 'merriweatherblack';
font-family: 'merriweatherblack_italic';
font-family: 'merriweatherbold';
font-family: 'merriweatherbold_italic';
font-family: 'merriweatheritalic';
font-family: 'merriweatherlight';
font-family: 'merriweatherregular';

font-family: 'Russo One', sans-serif;
 */
* {
	margin: 0;
	padding: 0;
}
.list {
	list-style-image: url('../img/li.svg');
	list-style-position: inside;
	font-family: 'merriweatherbold';
	text-align: center;
}
.head {
	font-family: 'Russo One', sans-serif;
	text-align: center;
}
.link {
	font-family: 'merriweatheritalic';
	text-align: center;
}
.link a {
	text-decoration: none;
	color: chocolate;
}
.link a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}
